fastapi
uvicorn
streamlit
pandas
plotly
pytest
pyyaml
openai
anthropic
scikit-learn
numpy
matplotlib
seaborn
sqlmodel
pydantic
pydantic-settings
python-dotenv
httpx
jinja2
python-multipart
watchdog
psutil
tqdm
loguru
rich
black
isort
flake8
mypy
ipython
jupyterlab
nbformat
nbconvert
streamlit-echarts
streamlit-option-menu
streamlit-extras
pyarrow
openpyxl
xlrd
xlsxwriter
fpdf2
reportlab
python-docx
python-pptx
beautifulsoup4
lxml
requests
urllib3
certifi
idna
chardet
sniffio
anyio
starlette
typing-extensions
annotated-types
greenlet
six
decorator
wrapt
attrs
packaging
pyparsing
python-dateutil
pytz
tzdata
click
colorama
shellingham
typer
rich-click
entrypoints
distlib
filelock
platformdirs
virtualenv
pip-tools
setuptools
wheel
pip
twine
build
poetry-core
importlib-metadata
zipp
typing-inspect
my-py-stub-gen
types-requests
types-setuptools
types-pyyaml
types-python-dateutil
types-pytz
types-click
types-colorama
types-pyparsing
types-six
types-decorator
types-attrs
types-packaging
types-certifi
types-idna
types-chardet
types-urllib3
types-beautifulsoup4
types-lxml
types-pydantic
types-anyio
types-starlette
types-typing-extensions
types-annotated-types
types-greenlet
types-wrapt
types-entrypoints
types-distlib
types-filelock
types-platformdirs
types-virtualenv
types-pip-tools
types-twine
types-build
types-importlib-metadata
types-zipp
types-typing-inspect
